#flight-alert-modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
}

#flight-alert-modal-box {
  background: white;
  position: relative;
  border-radius: 12px;
  padding: 20px;
  max-width: 420px;
  width: 90%;
  box-shadow: 0 10px 30px rgba(0,0,0,.25);
  font-family: system-ui, sans-serif;
}

#modal-close {
  position: absolute;
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  top: 10px;
  right: 10px;
  color: red;
}

#feedback {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

#feedback p {
  grid-column: 1 / span 2
}

.feedback-button {
  border: solid 1px black;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}