#title {
  font-family: Inter;
  font-size: 2rem;
  font-weight: 400;
  margin: 10px 0;
}

#dashboard-link {
  font-family: Inter;
  font-size: 1rem;
  margin: 10px;
}

@font-face {
  font-family: Inter;
  src: url("Inter_18pt-Regular.ttf");
}